
html, body {
    max-width: 1920px;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    font-family: montserratregular, Arial, sans-serif;
    font-size: 16px;
    background: url(../img/background-first.png), url(../img/background-second.png);   
}

.no-margin-left {
    margin-left: 0 !important;
}

.no-margin-right {
    margin-right: 0 !important;
}

.no-padding-left {
    padding-left: 0!important;
}


.no-padding-right {
    padding-right: 0!important;
}

.position-relative {
    position: relative;
}

.red {
    color:red;
}

.green {
    color: #018200;
}

.black {
    color: #000;
    font-weight: bold;
}

.grey {
    color: #666666;
}

.grey_italic {
    color: #666666;
    font-style: italic;
}

.f16px {
    font-size: 16px !important;
}

.clear {
    clear: both;
}

.nbutton {
    font-family: playfair_displaybold;
    font-size: 16px;
    border-radius: 0;
    border: none;
    background-color: #87c307;
    line-height: 18px;
    background-image: none;
}

.nbutton:hover,
.nbutton:active,
.nbutton:focus {
    background-color: #87c307 !important;
    background-image: none !important;
    border: none !important;
    border-color: transparent !important;
    box-shadow: none !important;
    outline: none;
    outline-offset: 0 !important;
}

.main-detail-link{
    font-family: montserratlight;
    font-size: 16px;
    line-height: 30px;
    color: #000;
    margin-top: 40px;
    margin-bottom: 60px;
    display: block;
}

.main-detail-link:hover,
.main-detail-link:active,
.main-detail-link:focus,
.main-detail-link:visited {
    color: #000;
    text-decoration: none;   
}

.main-inner-title,
.main-title {
    font-family: playfair_displaybold;
    font-size: 48px;
    line-height: 60px;
}

.main-inner-title {
    padding-top: 68px;
    padding-bottom: 50px;
}

.wrapper_1366px {
   max-width: 1366px;
   width: 100%;
   margin: 0 auto;
}

.wrapper_1200px {
   max-width: 1200px;
   width: 100%;
   margin: 0 auto;
}

.wrapper_1230px {
   max-width: 1230px;
   width: 100%;
   margin: 0 auto;
   padding: 0 30px;
}


.notice_avail {
     background: url(../img/avail-notice.png) center left no-repeat;
}

.notice-tablet {
    background: url(../img/tablet.png) center left no-repeat;
}

.notice {
    font-family: playfair_displaybold;
    font-size: 24px;
    line-height: 30px;
    color: #6b9316;
    max-width: 1200px;
    min-height: 100px;
    padding: 15px 0px 15px 130px;
    margin-bottom: 68px;
}

.dash:active,
.dash:visited,
.dash:hover,
.dash:focus,
.dash {
    color: #5f8b00;
    border-bottom: 2px dashed #5f8b00;
    text-decoration: none;
    cursor: pointer;
}