.nf {
    background: url(../../img/dear.png) right top no-repeat transparent;
    width: 100%;
}
.nf__content {
    max-width: 600px;
    margin-top: 105px;
    margin-bottom: 85px;
    margin-left: 18.75%;
}

.nf__title {
    text-align: center;
}

.nf__title img {
    width: 100%;
}

.nf__text {
    margin-top: 105px;
    margin-bottom: 70px;
}

.nf__text-row {
    padding-left: 20px;
    font-family: montserratregular;
    font-size: 16px;
    line-height: 30px;
    min-height: 30px;
    margin-bottom: 30px;
    list-style-image: url(../../img/marker.png);
}

.nf__main-page-link,
.nf__main-page-link:hover,
.nf__main-page-link:focus,
.nf__main-page-link:visited{
    display: block;
    font-family: playfair_displayregular;
    font-size: 18px;
    color: #85a44e;
    text-decoration: underline;
}

@media only screen and (max-width: 1220px) {
    .nf {
        background: none !important;
    }
    .nf__content {
        margin: 105px auto;
    }
}

