
.about {
    background: url(../../img/clouds.png) top left no-repeat, url(../../img/big-house.png) top right no-repeat, url(../../img/trees.png) right bottom no-repeat;

}

.about__sanatorium {
    max-width: 570px;
    width: 100%;
    margin-top: 150px;
    margin-left: 19.53%;
    margin-bottom: 180px;
}

.sanatorium__description {
    font-family: montserratregular;
    font-size: 16px;
    line-height: 30px;
    padding: 15px 0 45px 0;
}

.interactive-map__button {
    font-size: 18px;
    padding: 19px 30px;
}

.about__rooms {
    max-width: 1170px;
    width: 100%;
    margin-left: 19.53%;
    margin-bottom: 180px;
}

.rooms__thumbs {
    max-width: 1170px;
    width: 100%;
}

.rooms__big-thumb {
    height: 570px;
    display: block;
    position: relative;
}

.rooms__small-thumb {
    height: 270px;
    display: block;
    position: relative;
}

.rooms__small-thumb:first-child {
    margin-bottom: 30px;
}

.rooms__big-thumb,
.rooms__small-thumb {
    background-repeat: no-repeat;
    background-size: cover;
}

.rooms__thumb-description {
    padding: 5px 30px 30px 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to top, black 0%, transparent 100%);
}

.rooms__thumb-price,
.rooms__thumb-name {
    color: #fff;
}

.rooms__thumb-price {
    font-family: montserratlight;
    font-size: 16px;
    line-height: 36px;
}

.rooms__thumb-name {
    font-family: playfair_displaybold;
    font-size: 30px;
    line-height: 36px;
}

.thumb-arrow {
    height: 50px;
    width: 70px;
    background: url(../../img/arrow-right.png) center no-repeat #87c307;
    position: absolute;
    bottom: 20px;
    right: -5px;
    display: none;
}

.rooms__big-thumb:hover .thumb-arrow,
.rooms__big-thumb:focus .thumb-arrow,
.rooms__small-thumb:focus .thumb-arrow,
.rooms__small-thumb:hover .thumb-arrow,
.services__slider-item:hover .thumb-arrow,
.services__slider-item:focus .thumb-arrow,
.services__slider-item:focus .thumb-arrow,
.services__slider-item:hover .thumb-arrow {
    display: block;
}

.services__top {
    margin-left: 19.53%;
    margin-bottom: 60px;
}

.services__slider-item {
    margin: 0 15px;
    position: relative;
    background-size: contain;
    height: 267px;
    display: block;
}

.services__slider-title {

    position: absolute;
    bottom: 0;
    padding: 30px;
    font-family: playfair_displaybold;
    font-size: 30px;
    color:#fff;
}

.owl-dots {
    margin-top: 60px !important;
    margin-bottom: 150px !important;
}

.owl-dots span {
    border: 1px solid #000;
    background-color: #f5f6f7 !important;
}

.owl-dots span:hover,
.owl-dots span:active,
.owl-dots span:focus {
    background-color: #000 !important;
}

.owl-dot:active,
.owl-dot:focus {
    outline: none;
    outline-offset: 0;
}

@media only screen and (max-width: 1900px) {
    .services__top,
    .about__sanatorium,
    .about__rooms {
        margin-left: 50px;
    }
}

@media only screen and (max-width: 1340px) {
    .about {
        background: none;
    }
    .services__top,
    .about__sanatorium,
    .about__rooms {
        max-width: 100%;
        width: 100%;
        margin: 40px auto;
        padding: 0 50px;
    }
    
    .rooms__big-thumb {
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 768px) {
    .services__top,
    .about__sanatorium,
    .about__rooms {
        padding: 0 15px;
    }
    .services__slider-title {
        left: 20%;
    }
    .rooms__thumb-name {
        font-size: 24px;
    }
    .main-news__thumb {
        max-width: 100% !important;
        width: 100%;
    }
}