
.about-inner {
    background: url(../../img/clouds.png) top left no-repeat, url(../../img/big-house.png) top right no-repeat;

}


.about-inner__sanatorium {
    max-width: 570px;
    width: 100%;
    margin-top: 60px;
    margin-left: 19.53%;
    margin-bottom: 60px;
}

.advantages {
    max-width: 1268px;
    margin-left: 19.53%;
    margin-bottom: 60px;
}

.sanatorium__description {
    font-family: montserratregular;
    font-size: 16px;
    line-height: 30px;
    padding: 15px 0 45px 0;
}

.advantages__row-item {
    padding-left: 100px;
    font-family: montserratregular;
    font-size: 16px;
    line-height: 24px;
    background-repeat: no-repeat;
    background-position: top left;
    width: 400px;
    height: 120px;
}

.advantages__row {
    margin-top: 40px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.advantages__row_aquacenter {
    background-image: url(../../img/aquacenter.png);
}

.advantages__row_datefrom {
    background-image: url(../../img/datefrom.png);
}

.advantages__row_indprog {
    background-image: url(../../img/indprog.png);
}

.advantages__row_time {
    background-image: url(../../img/time.png);
}

.advantages__row_vouchervariant{
    background-image: url(../../img/vouchervariant.png);
}


.advantages__row_voucherdays{
    background-image: url(../../img/voucherdays.png);
}

.advantages__row_relax-conds{
    background-image: url(../../img/relax-conds.png);
}

@media only screen and (max-width: 1900px) {
    .advantages,
    .about-inner__sanatorium {
        margin-left: 50px;
    }
}

@media only screen and (max-width: 1340px) {
    .about-inner {
        background: none;
    }
    .advantages,
    .about-inner__sanatorium {
        max-width: 100%;
        width: 100%;
        margin: 40px auto;
        padding: 0 50px;
    }

}

@media only screen and (max-width: 768px) {
    .advantages,
    .about-inner__sanatorium {
        padding: 0 15px;
    }

}
