.accommodations {
    width: 100%;
    padding-top: 70px;
    padding-bottom: 60px;
    background: url(../../img/doctors-clouds.png) top right no-repeat;
}

.accommodations__text {
    font-family: montserratregular;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 77px;
}

.accommodations__desc {
    width: 100%;
}

.accommodations__accommodation-title {
    font-family: playfair_displaybold;
    font-size: 33px;
    line-height: 42px;
    color: #5f8b00;
    cursor: pointer;
    max-width: 700px;
    margin-bottom: 40px;
    background: url(../../img/dashed.png) bottom repeat-x;
}

.accommodations__accommodation-title_active {
    background: none;
    color: #000;
}

.accommodation-detail__text {
    max-width: 870px;
    font-family: montserratregular;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 40px;
}

.accommodation-detail__capacity {
    font-family: playfair_displaybold;
    font-size: 18px;
    color: #5f8b00;
    line-height: 30px;    
    margin-bottom: 40px;
}

.accommodation-detail__capacity span {
    color: #000;
}

.accommodation-detail__photos {
    display: flex;
    justify-content: space-between;
}

.accommodation-detail__big-photo {

    overflow: hidden;
}

.accommodation-detail__small-photo {
    margin-bottom: 17px;
    max-width: 276px;
    height: 160px;
    overflow: hidden;
}

.accommodations__services {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 150px;
    margin-top: 70px;
}

.accommodations__service-item {
    max-width: 300px;
    width: 100%;
    min-height: 30px;
    padding-left: 50px;
    background: url(../../img/marker.png) top left no-repeat;
}

.accommodations__tabs .nav-tabs__link {
    font-size: 24px;
}

@media only screen and (max-width: 1190px) {
    .accommodation-detail__big-photo{
        margin-right: 30px;
    }
}

@media only screen and (max-width: 768px) {
    .accommodation-detail__big-photo{
        margin-right: 0;
    }
    .accommodation-detail__small-photos {
        display: none;
    }
    .accommodations__tabs .nav-tabs__item {
        width: 100%;
    }
}