
.breadcrumb {
    max-width: 1200px;
    margin-bottom: 34px;
    padding: 0;
}

.breadcrumb__link,
.breadcrumb__link:active,
.breadcrumb__link:visited,
.breadcrumb__link:hover {
    font-family: montserratregular;
    font-size: 16px;
    line-height: 30px;
    color: #87c307;
    text-decoration: none;
    
}
.breadcrumb__link_current {
    color: #000!important;
}

@media only screen and (max-width: 1919px) {

    .breadcrumb{
        margin: 34px 0;
        padding: 0;
    }
}