

.main-services-calculator__container {
    
    box-shadow: 0 0 36px #d9dadb;
}

.main-services-calculator__top {
    background: #fff;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 60px 0 0 5.1%;
}

.main-services-calculator__bottom {
    background: #f3f6f8;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 60px 0 50px 5.1%;
}

.main-services-calculator__field-group {
    margin-bottom: 50px;
}

.main-services-calculator__total-info {
    min-width: 670px;
    text-align: right;
}

.main-services-calculator__total-cost {
    font-family: montserratbold;
    font-size: 48px;
    color: #a5bf79;
    line-height: 60px;
}

.main-services-calculator__total-cost-title {
    font-family: montserratbold;
    font-size: 18px;
    color: #000;
    padding-right: 55px;
}

.main-services-calculator__part-cost {
    font-family: montserratregular;
    font-size: 16px;
}

.main-services-calculator__part-price {
    font-size: 24px;
    padding: 0 10px 0 20px;
}

.main-services-calculator__part-currency {
    font-size: 18px;
}

.main-services-calculator__total-cost-currency {
    font-size: 24px;
}

@media only screen and (max-width: 1770px) {

    .main-services-calculator__title {

        padding-left: 0;
        margin: 0 auto;
    }

    .main-services-calculator {
        padding-left: 0;
    }
    .main-services-calculator__container {

        margin: 0 auto;
    }
}

@media only screen and (max-width: 1320px) {

    .main-services-calculator__title {
        max-width: 637px;
    }
}

@media only screen and (max-width: 790px) {

    .main-services-calculator__total-info {
        min-width: 0;
        width: 100%;
        padding: 0 15px;
    }
}