
.contacts {
    width: 100%;
    padding-bottom: 60px;
    background: url(../../img/doctors-clouds.png) right 250px no-repeat;
}

.contacts__thumbs {
    background: #fff;
    padding: 80px 0;

}

.contacts__thumbs-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contacts__thumb {
    max-width: 370px;
    width: 100%;
    margin-bottom: 80px;
    min-height: 210px;

}

.contacts__thumb-title {
    font-family: playfair_displaybold;
    font-size: 24px;

}

.contacts__thumb-status {
    font-family: montserratregular;
    font-size: 16px;
    height: 45px;
    padding-top: 20px;
}

.contacts__thumb-phone {
    font-family: playfair_displaybold;
    font-size: 24px; 
    height: 45px;
}

.contacts__thumb-phone_phone {
    padding-top: 5px;
    padding-left: 34px;
    background: url(../../img/smartphone.png) center left no-repeat;
}

.contacts__thumb-phone_accountant {
    padding-top: 5px;
    padding-left: 34px;
    background: url(../../img/accountant.png) center left no-repeat;
}

.contacts__thumb-phone_socials {
    padding-left: 70px;
    background: url(../../img/socials.png) center left no-repeat;
}

.contacts__thumb-email,
.contacts__thumb-email:active,
.contacts__thumb-email:visited,
.contacts__thumb-email:hover,
.contacts__thumb-email:focus,
.contacts__thumb-email {
    padding-left: 70px;
    background: url(../../img/smartemail.png) 30px center no-repeat;
    color: #6b9316;
    font-family: playfair_displaybold;
    font-size: 18px;
    height: 45px;
    text-decoration: none;
    display: block;
    padding-top: 10px;
}

.contacts__thumb-notice {
    font-family: playfair_displaybold;
    font-size: 18px; 
    height: 45px;
    padding-top: 12px;
}

.contacts__thumb-gps {
    font-family: montserratregular;
    font-size: 16px;
    padding-top: 15px;
    height: 45px;
    padding-left: 34px;
    line-height: 30px;
    background: url(../../img/gps.png) center left no-repeat;
}

.contacts__thumb-work-time {
    padding-left: 34px;
    font-family: montserratregular;
    font-size: 16px;
    line-height: 36px;
    background: url(../../img/smarttime.png) left 10px no-repeat;
    
}

.contacts__map {
    width: 100%;
}

/*временно*/
.contacts__map img {
    width: 100%;
}