
.custom-select {
    position: relative;
}

.custom-select__values {
    width: 100%;
    background-color: #fff;
    border: 1px solid #dee0e1;
    z-index: 10;
}

.custom-select__value {
    padding: 5px;
    border-bottom: 1px solid #dee0e1;
    min-height: 42px;
}

.custom-select__value:hover {
    background-color: #e8e8e8;
}

.custom-select__value-active {
    background-color: #e8e8e8;
}