/* Customize the label (the container) */
.custom-radiobtn {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    padding-right: 45px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: playfair_displaybold;
    font-size: 16px;
    line-height: 36px;
    margin-top: 10px;
}

/* Hide the browser's default radio button */
.custom-radiobtn input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom radio button */
.custom-radiobtn__checkmark {
    position: absolute;
    top: 4px;
    left: 0;
    height: 25px;
    width: 25px;
    border: 1px solid #a5bf79;
    background-color: #fff;
    border-radius: 50%;
}

/* When the radio button is checked, add a blue background */
.custom-radiobtn input:checked ~ .custom-radiobtn__checkmark {
    background-color: #fff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.custom-radiobtn__checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.custom-radiobtn input:checked ~ .custom-radiobtn__checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.custom-radiobtn .custom-radiobtn__checkmark:after {
    top: 6px;
    left: 6px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #a5bf79;
}