
.doctors {
    background: url(../../img/doctors-clouds.png) right 150px no-repeat;
    padding-bottom: 60px;
}
/*
.doctors__title {
    max-width: 1298px;
    padding-top: 70px;
    padding-bottom: 65px;
    padding-left: 5.75%;
}*/

.doctors__thumbs {
    max-width: 1298px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.doctors__thumb {
    max-width: 637px;
    height: 100%;
    min-height: 417px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
    background: #fff;
}

.doctors__thumb-img img {
    max-width: 268px;
    width: 100%;
}

.doctors__thumb-desc {
    padding: 50px 40px 33px 45px;
    max-width: 369px;
}

.doctors__thumb-title {
    font-family: playfair_displaybold;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 30px;
    max-width: 1298px;
}

.doctors__thumb-detail {
    font-family: montserratregular;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 15px;
}

.doctors__thumb-work-time,
.doctors__thumb-email,
.doctors__thumb-email:visited,
.doctors__thumb-email:hover,
.doctors__thumb-email:focus,
.doctors__thumb-email:active,
.doctors__thumb-phone,
.doctors__thumb-phone:hover,
.doctors__thumb-phone:visited,
.doctors__thumb-phone:focus,
.doctors__thumb-phone:active {
    display: block;
    font-family: playfair_displaybold;
    font-size: 18px;
    line-height: 30px;
    color: #000;
    text-decoration: none;
    margin-bottom: 15px;
    padding-left: 37px;
}

.doctors__thumb-email {
    color: #6b9316;
    margin-bottom: 0;
}

.doctors__thumb-work-time {
    background: url(../../img/smarttime.png) left center no-repeat;
}

.doctors__thumb-email {
    background: url(../../img/smartemail.png) left center no-repeat;
}

.doctors__thumb-phone {
    background: url(../../img/smartphone.png) left center no-repeat;
}

.work-time-detail {
    font-family: montserratregular;
    font-size: 14px;
    color:#666666;
}

@media only screen and (max-width: 1770px) {
    .doctors {
        padding-left: 0;
    }
    .doctors__thumbs {
        margin: 0 auto;
    }
    .doctors__title {

        padding-left: 0;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1320px) {

    .doctors__thumbs {
        margin: 0 auto;
        justify-content: center;
    }

    .doctors__title {
        max-width: 637px;
    }
}