
.faq {
    background: url(../../img/doctors-clouds.png) right 150px no-repeat;
    padding-bottom: 60px;
}


.faq__thumb {
    background: #fff;
    color: #000;
}

.faq__thumb-answer,
.faq__thumb-title {
    max-width: 1366px;
    width: 100%;
    padding: 34px 68px;
}

.faq__thumb-answer {
    background: #edf7d8;
    display: none;
}

.faq__thumb-answer_active {
    display: block;
}

.faq__thumb-title_disabled {
    display: none;
}

.faq__thumb-title {
    max-width: 1298px;
}

.faq__thumb-answer-title,
.faq__thumb-title .dash {
    font-family: playfair_displaybold;
    font-size: 33px;
    line-height: 30px;
}

.faq__thumb-answer-title {
    color: #000;
}

.faq__thumb-answer-text {
    margin-top: 35px;
    color: #000;
}