
.field-group {
    position: relative;
    padding: 0 15px;
}

.field-group_inline {
    display: inline-block;
}


.field-group__input {
    display: block;
    font-family: playfair_displaybold;
    font-size: 16px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #dee0e1;
    padding: 13px 0;
    cursor: pointer;
    height: 63px;
    overflow: hidden;
    background: transparent;
}

.field-group__input_h30px {
    height: 30px;
}

.field-group__input_470px {
    min-width: 470px;
}

.field-group__input_270px {
    min-width: 270px;
}

.field-group__input_130px {
    min-width: 130px;
}

.field-group__input_54px {
    max-width: 54px;
}

.field-group__input_100px {
    width: 100px;
}

.field-group__input_bg-white {
    background: #fff;
}


.field-group__input:focus,
.field-group__input:active {
    border:none;
    border-bottom: 1px solid #dee0e1;
    outline: none;
    outline-offset: 2px;
    outline-color: #fff;
}


.field-group__label {
    font-family: montserratlight;
    font-size: 14px;
    display: block;
    height: 36px;
}

.field-group__label_height0 {
    height: 0;
}

.field-group__label:after {
    content: '';
    background: url(../../img/svg/chevron-down.svg) center no-repeat;
    display: block;
    height: 5px;
    width: 10px;
    position: absolute;
    top: 65px;
    right: 20px;
    z-index: 10;
}

.field-group__label_height0:after {
    top: 20px;
}

.field-group__label_100px {
    max-width: 100px;
}

.field-group__label_without-chevron:after {
    background: none;
}

@media only screen and (min-width: 320px) and (max-width: 900px) {
    .field-group {
        margin-bottom: 20px;
    }
    .field-group__input {
        max-width: 100%;
        width: 100%;
    }
}

@media only screen and (min-width: 320px) and (max-width: 900px) {
    .main-search-form__fields-group {
        flex-direction: column;
    }
}

@media only screen and (max-width: 557px) {
    .field-group__input_470px {
        min-width: 0;
    }

}
