.bg-belcard {
    width: 26px; height: 28px;
    background: url('../../img/footer_sprites.png') -10px -99px;
}

.bg-artpay {
    width: 96px; height: 27px;
    background: url('../../img/footer_sprites.png') -10px -10px;
}

.bg-facebook {
    width: 14px; height: 26px;
    background: url('../../img/footer_sprites.png') -182px -56px;
}

.bg-instagram {
    width: 24px;
    height: 26px;
    background: url(../../img/footer_sprites.png) -56px -97px;
}

.bg-mastercard {
    width: 36px; height: 28px;
    background: url('../../img/footer_sprites.png') -126px -10px;
}

.bg-visa {
    width: 68px; height: 22px;
    background: url('../../img/footer_sprites.png') -10px -57px;
}

.bg-vk {
    width: 26px;
    height: 26px;
    background: url(../../img/footer_sprites.png) -100px -91px;
}

.bg-youtube {
    width: 23px;
    height: 23px;
    background: url(../../img/footer_sprites.png) -126px -53px;
}

.bg-ok {
    width: 16px; height: 26px;
    background: url('../../img/footer_sprites.png') -182px -10px;
}

.footer {
    
    background-color: #212121;
}

.footer__nav {
    margin: 0 auto;
    padding: 70px 19.53% 0 19.53%;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-between;

}

.bottom__left {
    padding-top: 5px;
}

.footer__bottom {
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-between;
    padding: 40px 19.53% 30px 19.53%;
    border-top: 1px solid #575757;
    color: #8c8c8c;
}

.socservices {
    padding-top: 20px;
    margin-bottom: 45px !important;
}

.socservices__item {
    margin-right: 30px;

    display: inline-block;
    float: left;
}

.footer__item {
    max-width: 370px;
}

.footer__item-level-1,
.footer__item-level-2,
.footer__item-level-1:hover,
.footer__item-level-2:hover,
.footer__item-level-1:visited,
.footer__item-level-2:visited,
.footer__item-level-1:focus,
.footer__item-level-2:focus {
    display: block;
    color: #fff;
    text-decoration: none;
    outline: none;
    cursor: pointer;
}

.footer__item-level-1 {
    margin-bottom: 30px;
    font-family: montserratsemibold;
    font-size: 18px;
}

.footer__item-level-2 {
    margin-bottom: 15px;
    font-family: montserratlight;
    font-size: 14px;
    line-height: 24px;
}

.payments__item {
    display: inline-block;
    float: left;
    margin-right: 15px;
}

.pt-25 {
    padding-top: 25px;
}

.developer {
    vertical-align: middle;
    display: inline-block;
}


@media only screen and (min-width: 1620px) and (max-width : 1870px) {
    .footer__nav {
        padding: 70px 10.53% 0 10.53%;
    }
}

@media only screen and (max-width: 1620px) {
    .footer__nav {
        padding: 70px 2.53% 0 2.53%;
    }
}

@media only screen and (max-width: 768px) {
    .bottom {
        padding: 20px;
    }
    .bottom__left,
    .bottom__right {
        padding: 5px;
    }
}