
.gallery__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 68px;
}

.gallery__item {
    overflow: hidden;
    max-width: 455.33px;
    max-height: 375px;
    align-self: center;
    position: relative;
    cursor: pointer;
}

.gallery__item-green-opacity {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(0,104,54, 0.7);
    display: none;
}

.gallery__item:hover .gallery__item-green-opacity {
    display: block;
}

.gallery__item-title:hover,
.gallery__item-title:visited,
.gallery__item-title:active,
.gallery__item-title:focus,
.gallery__item-title {
    position: absolute;
    align-self: center;
    font-family: playfair_displaybold;
    font-size: 30px;
    line-height: 30px;
    color: #fff;
    margin-top: 39%;
    width: 200px;
    height: 200px;
    margin-left: 26%;
    text-decoration: none;
    z-index: 10;
}
