
.header {
    width: 100%;
    min-height: 105px;
    padding: 0 55px;
    background-color: #fff;
}

.header__menu {
    margin-top: 32px;
}

.header__menu.menu {
    margin-top: 0px;
}

.menu__item {
    padding: 32px 0;
}

.menu__item.open {
    box-shadow: 0 0 10px #E7E7E7;
}

.menu__item.open>a,
.menu__item.open>a:hover,
.menu__item.open>a:focus,
.lang-switcher.open>a,
.lang-switcher.open>a:hover,
.lang-switcher.open>a:focus{
    background-image: none !important;
    box-shadow: none!important;
    background-color: #fff!important;
    color: #89C300!important;
}

.menu__item.open>a>.menu__caret,
.lang-switcher.open>a>.lang-switcher__caret{
    background-image: url(../../img/svg/chevron-down-yellow.svg)
}

.menu__link {
    font-family: montserratsemibold;
    font-size: 18px;
    color: #000000 !important;
    line-height: 18px !important;
    text-transform: uppercase;
    padding: 15px 5px 15px 15px !important;
}

.submenu,
.lang-menu{
    min-width: 0;
    width: 100%;
    padding: 0;
    border: none;
    border-radius: 0;
    border-bottom: 5px solid #88c302!important;
    box-shadow: none;
}

.submenu__item,
.lang-menu__item{
    min-height: 40px;
}

.submenu__link,
.lang-menu__link{
    padding: 15px !important;
    white-space: inherit !important;
}

.search {
    padding: 0;
    width: 50px;
    height: 30px;
    margin: 10px 0;
    background: url(../../img/svg/search.svg) center no-repeat #fff;
    background-size: 23px;
    cursor: pointer;
}

.search::after {
    content: '';
    background: url(../../img/svg/vertival-separator.svg) center no-repeat #fff;
    display: block;
    height: 30px;
    width: 3px;
    position: absolute;
    right: 0;
    top: 0;
}

.search::before {
    content: '';
    background: url(../../img/svg/vertival-separator.svg) center no-repeat #fff;
    display: block;
    height: 30px;
    width: 3px;
    position: absolute;
    left: 0;
    top: 0;
}

.menu__caret,
.lang-switcher__caret {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url(../../img/svg/chevron-down.svg) no-repeat center #fff;
}

.navbar {
    margin-bottom: 0;
    min-height: 105px;
}

.navbar-default {
    background-image: none;
    box-shadow: none;
    border-radius: 0;
    background-repeat: no-repeat;
    -webkit-box-shadow: none;
    background-color: #fff;
    border: none;
}

.navbar-brand {
    height: auto;
}

.navbar-right__item {
    padding: 15px;
}

.navbar-right__link {
    display: inline-block !important;
    padding: 0 !important;
    font-family: montserratlight;
    font-size: 18px;
    line-height: 24px;
    color: #000000 !important;
}

.navbar-right__highlighter {
    font-family: montserratsemibold;
}

.header__feedback {
    margin: 34px 0 28px 60px;
}

.header__feedback-button {
    height: 43px;
    width: 204px;
    text-transform: uppercase;
}

.navbar-right .navbar-right__item:last-child,
.navbar-right .navbar-right__item:first-child {
    display: none;
}

.header__hidden {
    display: none;
    width: 100%;
    min-height: 105px;
}

.navbar-header .navbar-toggle {
    margin-top: 25px;
}

@media only screen and (min-width: 994px) and (max-width : 1869px) {
    .navbar-right .navbar-right__item:first-child {
        display: block !important;
        margin: 0;
        margin-top: -10px;
        padding-left: 0;
    }
    .navbar-right .navbar-right__item:first-child .header__feedback {
        display: block;
        margin: 0;
    }
}

@media only screen and (min-width: 768px) and (max-width : 994px) {
    .header__hidden .header__feedback {
        display: block;
        text-align: right;
        width: 100%;
        padding-right: 30px;
        margin: 0 0 20px 0;
    }
}

@media only screen and (max-width: 1869px) {
    .navbar-nav>.menu__item>.dropdown-menu{
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
    }
    .header__hidden .navbar-nav {border-top: 1px solid #eee;}
    .navbar-nav>li.menu__item {
        display: block !important;
        float: none!important;
        padding: 0;
    }
}

@media only screen and (min-width: 768px) and (max-width : 1869px) {

    .header__feedback {
        display: none;
    }
    .header__menu:first-child {
        display: none;
    }
    .header__hidden .header__menu {
        display: block;
    }
    .header__hidden>.navbar-nav {
        width: 100%;
    }
    
    .header__hidden>.nav>li>a:focus, .header__hidden>.nav>li>a:hover {
        text-decoration: none;
        background-color: #fff;
    }

    .navbar-toggle:last-child {
        display: block;
        margin-top: -7px!important;
        margin-right: 0!important;
        margin-bottom: 0!important;

    }
    .navbar-default .navbar-toggle:last-child:focus, .navbar-default .navbar-toggle:last-child:hover {
        background-color: #fff !important;
    }
    .navbar-right .navbar-right__item:last-child {
        display: block;
    }
}


@media only screen and (max-width: 1620px) {
    .header {
        padding: 0;
    }
}


@media only screen and (max-width: 768px) {
    .header__feedback {
        margin: 0;
    }
    .search {
        margin: 10px 14px;
    }
}

