
.interactive-map__wrapper {
    overflow-x: auto;
    width: 100%;
}

.interactive-map__container {
    position: relative;
    width: 1808px;
    margin: 0 auto;
    -webkit-transform: scale(.7); 
    -ms-transform: scale(.7);
    transform: scale(.7);
    -webkit-transform-origin: top; 
    -ms-transform-origin: top; 
    transform-origin: top left;
}

.interactive-map__svg-icon {
    position: absolute;
    cursor: pointer;
}

.interactive-map__svg-icon:hover .svg-icon__border {
    stroke: #87c307;
    -webkit-transition: stroke .3s ease-in-out;
    -moz-transition: stroke .3s ease-in-out;
    -o-transition: stroke .3s ease-in-out;
    transition: stroke .3s ease-in-out;
}

#alive {
    top: 6%;
    left: 30%;
}

#beach {
    top: 2%;
    left: 8.5%;
}

#grill_1 {
    top: 12%;
    left: 13%;
}

#grill_2 {
    top: 9%;
    left: 19%;
}

#hire {
    top: 51%;
    left: 14%;
}

#in {
    left: 12.35%;
    top: 57.8%;
}

#parking-1 {
    top: 23%;
    left: 7%;
}

#church {
    top: 32%;
    left: 7%;
}

#parking-2 {
    left: 14.35%;
    top: 64.8%;
}

#parking-3 {
    left: 14.35%;
    top: 41.8%;
}

#aquacenter {
    top: 34%;
    left: 15%;
}

#billiards {
    left: 13.35%;
    top: 23.8%;
}

#swing {
    left: 22.35%;
    top: 23.8%;
}

#fountain {
    left: 25.35%;
    top: 31.8%;
}

#parking-4 {
    left: 32.35%;
    top: 49.8%;
}

#parking-5 {
    left: 35.35%;
    top: 15.8%;
}

#aquahealth {
    left: 34.35%;
    top: 25.8%;
}

#fizter {
    left: 33.35%;
    top: 30.8%;
}

#med {
    left: 34.35%;
    top: 41.8%;
}

#gym {
    left: 41.35%;
    top: 9.8%;
}

#sport {
    left: 41.35%;
    top: 19.8%;
}

#tir {
    left: 48.35%;
    top: 23.8%;
}

#lfk {
    left: 44.35%;
    top: 31.5%;
}

#grill-3 {
    left: 45.35%;
    top: 51.5%;
}

#dance {
    left: 51.35%;
    top: 3.8%;
}

#block-3 {
    left: 53.35%;
    top: 19.8%;
}

#block-2 {
    left: 54.35%;
    top: 27.8%;
}

#block-1 {
    left: 55.35%;
    top: 37.8%;
}

#block-4 {
    left: 54.35%;
    top: 45.8%;
}

#stadion {
    left: 71.35%;
    top: 54%;
}

#children {
    left: 67.35%;
    top: 66%;
}

#conf-hall {
    left: 75.5%;
    top: 71.5%;
}

#block-7 {
    left: 51.5%;
    top: 68.5%;
}

#block-8 {
    left: 51.5%;
    top: 75.5%;
}

#block-9 {
    left: 51.5%;
    top: 81.5%;
}

#block-10 {
    left: 51.5%;
    top: 87.5%;
}

#bus-station-1 {
    left: 63.5%;
    top: 88.5%;
}

#bus-station-2 {
    left: 71.5%;
    top: 89.5%;
}

.svg-modal__img {
    max-width: 478px;
    overflow-x: hidden;
    text-align: center;
    margin-bottom: 20px;
}

.svg-modal__detail-link {
    height: 50px;
    padding: 15px;
}

.interactive-map__scale {
    padding-right: 15px;
    margin-bottom: 30px;
}

.scale__button {
    font-size: 40px;
    display: inline-block;
    padding: 4px  20px 0 20px;
    color: #fff;
    background-color: #87c307;
    cursor: pointer;
    width: 63px;
    border-radius: 50%;
    text-align: center;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}