
.main-news {
    background: url(../../img/news-ground.png) center no-repeat #fff;
   
    padding-bottom: 60px;
    width: 100%;
    background-size: cover;
}

.news-thumb__img img {
    width: 100%;
}

.main-news__thumbs {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1170px;
    
    flex-wrap: wrap;
}

.main-news__desc {
    max-width: 1170px;
    margin: 0 auto;
}

.main-news__thumb {
    display: block;
    max-width: 370px;
    text-decoration: none;
    
}

.main-news__thumb:active,
.main-news__thumb:focus,
.main-news__thumb:hover,
.main-news__thumb:visited {
    text-decoration: none;
    
}

.main-news__thumb:first-child {
    margin-left: 0!important;
    
}


.main-news__thumb:last-child {
    margin-right: 0!important;
}

.news-thumb__date {
    padding: 34px 0 18px 0;
    font-family: montserratlight;
    font-size: 16px;
    color: #000;
}

.news-thumb__link {
    height: 85px;
    font-family: playfair_displaybold;
    font-size: 30px;
    color: #000;
    overflow: hidden;
}

.main-news__thumb:hover .news-thumb__link {
    color: #87c307;
}

.news-thumb__desc {
    font-family: montserratregular;
    font-size: 16px;
    color: #000;
    padding-top: 30px;
    -webkit-font-smoothing:  antialiased;
}

@media only screen and (max-width: 1270px) {
    
    .main-news__desc,
    .main-news__thumbs {
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
    }
    .main-news__thumbs{
        justify-content: space-between;
    }
    .main-news__thumb {
        margin-bottom: 30px;
    }
    
}


@media only screen and (max-width: 768px) {
    .main-news__desc {
        padding: 0 15px;
    }
    .main-news__thumbs {
        justify-content: center;
        padding: 0 15px;
    }
}