
.main-banner {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    min-height: 675px;
    background: url(../../img/main_banner.png) center no-repeat #fff;
    background-size: cover;
}

.main-banner__description {
    max-width: 945px;
    width: 100%;
    height: 255px;
    margin-top: 230px;
    background-color: rgb(0,0,0,0.4);
}

.description__title {
    font-family: playfair_displaybold;
    font-size: 36px;
    line-height: 42px;
    color: #fff;
    max-width: 557px;
    width: 100%;
    margin-left: 39.5%;
    margin-bottom: 0;
    padding-top: 30px;
}

.description__text {
    font-family: montserratregular;
    font-size: 16px;
    line-height: 30px;
    color: #fff;
    max-width: 557px;
    width: 100%;
    margin-left: 39.5%;
    margin-bottom: 0;
    padding-top: 30px;
}

@media only screen and (max-width: 1400px) {
    .description__title,
    .description__text {
        margin-left: 20%;
    }
}

@media only screen and (max-width: 1170px) {
    .description__title,
    .description__text {
        margin-left: 10%;
    }
}

@media only screen and (max-width: 1170px) {
    .top-menu__item {
        min-width: 200px;
    }
    .top-menu-wrapper {
        height: 200px !important;
        padding: 0 70px;
    }
    .top-menu {
        justify-content: stretch !important;
    }
}

@media only screen and (max-width: 768px) {
    .description__title,
    .description__text {
        margin: 0 auto;
        padding: 10px
    }
    .main-banner__description {
        height: auto!important;
        margin-top: 30px;
    }
    .top-menu__item {
        min-width: 158px;
        padding-right: 10px;
        padding-top: 20px;
        padding-bottom: 20px
        
    }
    .top-menu-wrapper {
        height: 250px !important;
        padding: 15px;
    }
}

@media only screen and (max-width: 350px) {
    .top-menu__item {
        min-width: 158px;
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 0;
        
    }
}