.main-search-form-title {
    padding: 20px 0 20px;
    padding-left: 19.75%;
    font-family: playfair_displaybold;
    font-size: 30px;
    color: #6b9316;
    background: #f3f6f8;
}
.main-search-form {
    background-color: #fff;
    line-height: 36px;
    box-shadow: 0 0 36px #d9dadb;
}

.main-search-form form,
.main-search-form__content {
    display: flex;
    justify-content: flex-end;
}

.main-search-form__input {
    min-width: 270px;
}

.main-search-form__fields-group {
    display: flex;
    min-height: 200px;
    justify-content: center;
    padding: 38px 0;
    flex: 8;
}

.main-search-form__online-booking {
    vertical-align: top;
    display: inline-block;
    background-color: #87c307;
    padding: 70px 20px 0 20px;
    position: relative;
    flex: 1;
}

.online-booking__link {
    font-family: playfair_displaybold;
    font-size: 24px;
    color: #fff;
}

.online-booking__link:hover,
.online-booking__link:focus,
.online-booking__link:visited,
.online-booking__link:active {
    color: #fff;
    text-decoration: none;   
}

.online-booking__arrow-right {
    background: url(../../img/arrow-right.png) center no-repeat;
    height: 15px;
    width: 20px;
    position: absolute;
    display: block;
    top: 82px;
    right: 23px;
}

.main-search-form__calculator {
    display: inline-block;
    background: url(../../img/grass.png) center no-repeat #fff;
    background-size: cover;
}

.calculator__content {
    background-color:  rgb(0,104,54, 0.7);
    width: 100%;
    padding-right: 105px;
    height: 100%;
}

.calculator__title {
    font-family: montserratlight;
    font-size: 18px;
    padding: 45px 0 0 107px;
    color: #fff;
}

.calculator__link {
    font-family: playfair_displaybold;
    font-size: 30px;
    color: #fff;
    padding-left: 107px;
    max-width: 268px;
    width: 100%;
    display: block;
    background: url(../../img/calculator.png) 35px 0 no-repeat;
}

.calculator__link:hover,
.calculator__link:active,
.calculator__link:focus,
.calculator__link:visited {
    color: #fff;
    text-decoration: none;   
}

@media only screen and (max-width: 1550px) {
    .main-search-form form {
        flex-direction: column;
    }
    .main-search-form__calculator {
        width: 100%;
    }
    .calculator__link {
        padding-bottom: 70px;
    }

}
@media only screen and (max-width: 1120px) {
    .main-search-form__content {
        flex-direction: column;
    }
    .main-search-form__online-booking {
        padding: 20px;
    }
    .online-booking__arrow-right {
        top: 33px;
        right: 0;
        left: 303px;
    }
}
@media only screen and (min-width: 320px) and (max-width: 900px) {
    .main-search-form__fields-group {
        flex-direction: column;
    }

}

