
.modal-backdrop{
    background: #fff;
}

.modal-backdrop.in {
    opacity: 0.85;
}

.modal-content{
    margin-top: 100px;
    border-radius: 0;
    padding: 60px;
}

.modal-header .close {
    position: absolute;
    top: -65px;
    right: -65px;
    opacity: 1 !important;
}

.modal-header {
    padding: 0;
    text-align: center;
    border-bottom: none;
}

.modal-title {
    font-family: playfair_displaybold;
    font-size: 30px;
}

.form-control{
    border-radius: 0;
}

.form-control:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
    border-color: #87c307;
}

textarea.form-control {
    min-height: 230px;
}

input.form-control{
    height: 60px;
}

.modal-form-notation i {
    font-size: 14px;
}

.modal-form-notation .red {
    font-size: 24px;
}

.captcha {
    padding:40px 0;
}
.captcha img {
    width: 100%;
}

.modal-btn {
    width: 228px;
    height: 60px;
    font-size: 24px;
}

.close-cross {
    display: block;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    color: #fff;
    font-size: 24px;
    background: #c4c4c4;
    font-size: 41px;
    font-family: auto;
    padding-top: 11px;
}

@media only screen and (max-width: 768px) {
    .modal-header .close {
        top: 8px;
        right: 8px;
    }
}

.modal-success {
    max-width: 967px;
    width: 100%;
}

.modal-success__title {
    font-size: 43px;
    color: #76923c;
    font-family: playfair_displaybold;
    line-height: 42px;
}

.modal-success__text {
    padding-top: 60px;
    font-size: 24px;
    font-family: montserratregular;
    line-height: 42px;
}

.modal-success-bg {
    background: url(../../img/dear-success.png) top right no-repeat #fff;
}

@media only screen and (max-width: 900px) {

    .modal-success {
        max-width: 100%; 
        width: auto; 
    }
    .modal-success-bg {
        background-image: none;
    }
}