
.news {
    background: url(../../img/doctors-clouds.png) right 150px no-repeat;
    padding-bottom: 60px;
}

/*.news__title {
    max-width: 1298px;
    padding-top: 70px;
    padding-bottom: 65px;
    padding-left: 5.75%;
}*/

.news__thumb,
.news__thumb:visited,
.news__thumb:active,
.news__thumb:hover,
.news__thumb:focus {
    max-width: 1366px;
    height: 100%;
    min-height: 312px;
    display: flex;
    justify-content: center;
    margin: 20px 0;
    background: #fff;
    color: #000;
    text-decoration: none;
}

.news__thumb-img {
    align-self: center;
    background-color: #f5f6f7;
    overflow: hidden;
}

.news__thumb-desc {
    max-width: 898px;
    width: 100%;
    margin: 0 auto;
}

.news__thumb-time-label {
    margin: 33px 0;
    width: 185px;
    height: 60px;
    padding: 15px 30px;
    background-color: #87c307;
    color: #fff;
    font-family: playfair_displaybold;
    font-size: 24px;
}

.news__thumb-text-wrapper {
    width: 100%;
    padding: 0 90px 30px 30px;
}

.news__thumb-title {
    font-family: playfair_displaybold;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 20px;
    max-width: 1298px;
}

.news__thumb:hover .news__thumb-title {
    color: #87c307;
}

.news__thumb-preview {
    font-family: montserratregular;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 15px;
    text-align: right;
    max-height: 54px;
    overflow: hidden;
}

.news__thumb-detail {
    text-align: right;
    font-family: playfair_displayregular;
    font-size: 18px;
    line-height: 36px;
    color: #6b9316;
}

@media only screen and (max-width: 768px) {
    .news__thumb {
        flex-wrap: wrap;
    }
    .news__thumb-time-label {
        margin: 33px auto;
    }
    .news__thumb-preview {
        text-align: left;
    }
    
}

@media only screen and (max-width: 1770px) {
/*    .news {
        padding-left: 0;
    }*/
    .news__thumbs {
        margin: 0 auto;
    }
/*    .news__title {
        
        padding-left: 0;
        margin: 0 auto;
    }*/
}

@media only screen and (max-width: 1320px) {
    
    .news__thumbs {
        margin: 0 auto;
        justify-content: center;
    }
    
/*    .news__title {
        max-width: 637px;
    }*/
}