
.pager {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.pager a,
.pager a:hover,
.pager a:visited,
.pager a:active,
.pager a:focus {
    align-self: center;
    font-size: 24px;
    font-family: playfair_displaybold;
    text-decoration: none;
    color: #000;
}

.pager__next {
    margin-left: 7.5px;
}

.pager__prev {
    margin-right: 7.5px;
}

.pager__page-num {
    margin: 0 7.5px;
    padding: 0 16px 4px 16px;
    color: #000;
}

.pager__page-num_active {
    background: #87c307;
    color:#fff !important;
}

.pager__prev_disabled,
.pager__next_disabled {
    color: #c9c9c9 !important;
    cursor: default;
}