
.photo-callage__item {
    width: 100%;
    height: 100%;
}

.photo-callage__item:last-child {
    position: relative;
}

.photo-callage__detail-link {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    padding-left: 130px;
    padding-top: 150px;
    color: #fff;
    font-family: playfair_displaybold;
    font-size: 30px;
    line-height: 36px;
    background: url(../../img/arrow-right.png) 345px 198px no-repeat rgb(0,104,54, 0.7);
}

.photo-callage__detail-link:hover,
.photo-callage__detail-link:active,
.photo-callage__detail-link:focus,
.photo-callage__detail-link:visited {
    color: #fff;
    text-decoration: none;   
}



@media only screen and (max-width: 1919px) {
    .photo-callage__detail-link {
        background-image: none;
        padding: 0;

    }
    .photo-callage__detail-link-title {
        display: block;
        width: 235px;
        margin: 31% auto;
    }

}

@media only screen and (max-width: 767px) {
    .photo-callage div[class^="col-"] {
        margin-bottom: 30px;
    }
    .photo-callage {
        padding: 0 15px;
    }
    .owl-dots {
        margin-bottom: 60px !important;
    }
    .rooms__thumb-description {
        padding: 0px 28px 28px 20px;
    }
}
