

.photo-album {
    padding-bottom: 68px;
}

.photo-album__item {
    width: 100%;
    height: 100%;
}



.photo-album__item:last-child {
    position: relative;
}

.photo-album__green-opacity {
    display: none;
    width: 100%;
    height: 100%;
    background: rgb(0,104,54, 0.7); 
}

.photo-album__detail-link {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    color: #fff;
    font-family: playfair_displaybold;
    font-size: 30px;
    line-height: 36px;
    padding-left: 30%;
    padding-top: 30%;
    z-index: 10;
}

.hover {
    overflow: hidden;
}
/*.hover:hover .photo-album__green-opacity,*/
.hover:hover .photo-album__detail-link{
    display: block;
    background: rgb(0,104,54, 0.7); 
}

.photo-album__detail-link:hover,
.photo-album__detail-link:active,
.photo-album__detail-link:focus,
.photo-album__detail-link:visited {
    color: #fff;
    text-decoration: none;   
}

