
.reviews {
    background: url(../../img/doctors-clouds.png) right 150px no-repeat;
    padding-bottom: 60px;
}

/*.reviews__thumbs {
    max-width: 1366px;
}*/

.reviews__add {
    text-align: right;
}

.reviews__add-btn {
    height: 64px;
    width: 268px;
    font-size: 24px;
}


.reviews__thumb-wrapper {
    margin-bottom: 45px;
}

.reviews__thumb {
    background: #fff;
    color: #000;
}

.reviews__thumb-answer,
.reviews__thumb-desc {
    max-width: 1366px;
    width: 100%;
    padding: 34px 68px;
}

.reviews__thumb-answer {
    background: #edf7d8;
}

.reviews__thumb-time-label {
    margin: 33px 0;
    width: 185px;
    height: 60px;
    padding: 15px 30px;
    background-color: #87c307;
    color: #fff;
    font-family: playfair_displaybold;
    font-size: 24px;
}

.reviews__thumb-title {
    font-family: playfair_displaybold;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 20px;
    max-width: 1298px;
}

.reviews__thumb-preview {
    font-family: montserratregular;
    font-size: 16px;
    line-height: 30px;
    margin: 35px 0;
    word-break: break-all
}

.reviews__thumb-city {

    font-family: playfair_displaybold;
    font-size: 24px;
    color: #a0a0a0;

}

.reviews__thumb-detail {
    font-family: playfair_displayregular;
    font-size: 18px;
    line-height: 36px;
    color: #6b9316;
}

@media only screen and (max-width: 768px) {
    .reviews__thumb {
        flex-wrap: wrap;
    }
    .reviews__thumb-time-label {
        margin: 33px auto;
    }
    .reviews__thumb-preview {
        text-align: left;
    }
    .reviews__add {
        text-align: center;
        margin-top: 30px;
    }
    .reviews__title {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
    }
}