.seat-availability {
    width: 100%;
    padding-bottom: 60px;
    background: url(../../img/doctors-clouds.png) right 250px no-repeat;
}

.seat-availability__title {
    padding-top: 70px;
    padding-bottom: 65px;
    padding-left: 7.75%;
}

.seat-availability__notice {
    margin-left: 66px;
    
}

.seat-availability__booking-text {
    max-width: 1170px;
    width: 100%;
    font-family: playfair_displaybold;
    font-size: 30px;
    line-height: 36px;
    margin: 60px auto;
}


.seat-availability__booking-contacts {
    max-width: 1170px; 
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.seat-availability__booking-contacts-item {
    max-width: 370px;
    width: 100%;
    padding: 15px 0 15px 35px;
    font-family: playfair_displaybold;
    font-size: 18px;
    align-self: center;
}

.seat-availability__booking-contacts-item__phone-detail {
    font-family: montserratregular;
    font-size: 14px;
    color:#666666;
}

.seat-availability__booking-contacts-item_phone {
    background: url(../../img/smartphone.png) left center no-repeat;
}

.seat-availability__booking-contacts-item_email {
    background: url(../../img/smartemail.png) left center no-repeat;
    color: #6b9316;
}

@media only screen and (max-width: 768px) {
    .seat-availability .nav-tabs__item {
        width: 100%;
    }
    .seat-availability__notice {
        margin-left: 0;
    }
    .seat-availability__title {
        padding-left: 0;
    }
}
