
.services-inner__notice {
    font-family: playfair_displayregular;
    font-size: 16px;
    line-height: 30px;
    color: #666666;
    padding-top: 88px;
    padding-bottom: 50px;
}

.services-inner__list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.service-item {
    padding-bottom: 24px;
    max-width: 390px;
    width: 100%;
    
}

.service-item__title-wrapper {
    padding-left: 60px;
    background: url(../../img/list-marker-down.png) 5px 15px no-repeat;
}

.service-item__desc {
    padding-left: 45px;
    
}

.subservice-item {
    padding: 15px 0;
    max-width: 345px;
    width: 100%;
    font-family: montserratregular;
    font-size: 18px;
    line-height: 36px;
}

.service-item__title {
    overflow: hidden;
    padding-bottom: 24px;
    height: 65px;
    cursor: pointer;
    font-family: playfair_displaybold;
    display: inline-block;
    font-size: 24px;
    line-height: 60px;
    color: #6b9316;
    background: url(../../img/dashed.png) center 45px repeat-x;

}

.service-item_active .service-item__title-wrapper {
    background: url(../../img/list-marker-up.png) 5px 15px no-repeat;
    background-color: #a5bf79;

}

.service-item_active .service-item__title {
    color: #fff;
    background: none;
}