
.soc-vouchers__table {
    width: 100%;
    background: #fff;
}

.soc-vouchers__table-cell {
    padding: 40px;
    text-align: left;
    padding: 43px 0;
    font-family: montserratregular;
    font-size: 18px;
    line-height: 30px;
}

.soc-vouchers__table-cell_center {
    text-align: center;
}

.soc-vouchers__table-cell_94px {
    width: 94px;
}

.soc-vouchers__table-cell_p30px {
    padding: 30px 0;
}

.soc-vouchers__table-cell_570px {
    width: 570px;
}

.soc-vouchers__table-cell_698px {
    width: 698px;
}

.soc-vouchers__table-cell_gray {
    background: #f7f9fa;
}

.soc-vouchers__table-cell_dark {
    height: 60px;
    background: #a5bf79;
    font-family: playfair_displaybold;
    font-size: 30px;
    color: #fff;
    padding: 0;
}

.soc-vouchers__table tr th {
    font-style: italic;
    color: #818181;
    font-size: 14px;
}

.soc-vouchers__faq {
    padding: 94px 0;
}

.soc-vouchers__faq-title {
    font-family: playfair_displaybold;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 40px;
    color: #6b9316;
}

.soc-vouchers__faq-item {
    font-family: montserratregular;
    font-size: 16px;
    line-height: 30px;
    padding-left: 100px;
    margin-bottom: 33px;
    background: url(../../img/around-marker.png) left top no-repeat;
    min-height: 40px;
}