
.static-text {
    padding-top: 60px;
/*    padding-left: 14.42%;
    background: #f5f6f7;*/
}

.static-text__content {
    margin: 34px 0;
    font-family: montserratregular;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 40px;
}

.static-text__title {
    display: inline-block;
    margin-bottom: 40px;
    font-family: playfair_displaybold;
    font-size: 48px;
    line-height: 60px;
}

.static-text__content img {
    float: right;
    margin: 0 0 30px 30px;
}

.static-text>img {
    max-width: 1200px;
    width: 100%;
}

@media only screen and (max-width: 1919px) {
    .static-text{
        padding: 0 15px;
    }
    .static-text__content{
        margin: 34px auto;
        padding: 0;
    }
}