.vp-tables .wrapper_1366px{
    overflow-x: auto;
}

.vp-tables__tabs {
    margin-bottom: 68px;
    min-width: 1350px;
    overflow-x: auto;
}

.vp-tables__tabs>.nav-tabs>.nav-tabs__item>.nav-tabs__link {
    font-size: 18px!important;
}

.vp-tables__tabs .tab-content__notice {
    text-align: left;
    padding-left: 5.12%;
}

.vp-tables__tabs-table-separator {
    height: 50px;
    background: url(../../img/background-first.png) center no-repeat #f3f6f8;
}

.vp-tables__field-group {
    display: inline-block;
}

.vp-tables__field-group_left {
    float: right;
}

.vp-tables__field-group>label {
    height: 0;
    margin: 0;
}

.vp-tables__field-group>label:after {
    top: 15px;
}

.vp-tables__field-group .field-group__input {
    width: 100px;
    border: none;
    background: #fff;
    color: #000;
    padding: 0 15px;
    height: 30px;
    font-family: montserratlight;
}

.vp-tables__field-group .custom-select__value {
    font-family: montserratlight;
}

.vp-tables__field-group .custom-select__value {
    color: #000;
}