
.nav-tabs__link,
.nav-tabs__link:active,
.nav-tabs__link:visited,
.nav-tabs__link:hover {
    padding: 33px 66px !important;
    font-size: 30px;
    font-family: playfair_displaybold!important;
    border-radius: 0!important;
    color: #fff !important;
    background: #a5bf79 !important;
    border: none!important;
}

.nav-tabs__link_uppercase {
     text-transform: uppercase;
}

.nav-tabs {
    border-bottom: none!important;
}

.nav-tabs__item.active>.nav-tabs__link,
.nav-tabs__item.active>.nav-tabs__link:active,
.nav-tabs__item.active>.nav-tabs__link:visited,
.nav-tabs__item.active>.nav-tabs__link:hover{
    color: #a5bf79!important;
    background: #fff!important;
}

.tab-content__wrapper {
    overflow-x: auto;
    background: #fff;
}

.tab-content__notice {
    width: 100%;
    padding: 30px 21.8% 30px 0;
    text-align: right;
}

.tab-content__table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    overflow-x: auto;
}

.tab-content__table>tbody tr:nth-child(even) td{
    background: #f7f9fa;
}

.tab-content__table th {
    height: 43px;
}

.tab-content__table td {
    height: 60px;
}

.tab-content__table th,
.tab-content__table td {
    text-align: left;
    
}

.tab-content__table th:first-child,
.tab-content__table td:first-child {
    padding-left: 4.97%;
}
.tab-content__table th:last-child,
.tab-content__table td:last-child{
    padding-right: 4.97%;
}

.tab-content__table th {
    font-family: playfair_displaybold;
    font-size: 16px;
    line-height: 30px;
    background: #a5bf79;
    color: #fff;
}

.tab-content__table-cell_text-center {
    text-align: center !important;
}
.tab-content__table-cell_italic {
    font-family: montserratlight;
    font-size: 14px;
    color: #818181;
}

.tab-content__table-cell {
    font-family: montserratregular;
    font-size: 18px;
    line-height: 16px;
}

.tab-content__table-cell_right {
    text-align: right !important;
}

.tab-content__table-cell_center {
    text-align: center!important;
}

.tab-content__table-cell-link,
.tab-content__table-cell-link:active,
.tab-content__table-cell-link:hover,
.tab-content__table-cell-link:visited {
    font-family: playfair_displaybold;
    font-size: 18px;
    text-decoration: none;
    color: #89b244;
    text-transform: uppercase;
}


