
.top-menu-wrapper {
    height: 100px;
    max-width: 1850px;
    width: 100%;
    background-color: rgb(0,0,0, 0.7);
    position: absolute;
    bottom: 0px;
    right: 0;
}

.top-menu {
    max-width: 1170px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-between;
}

.top-menu__item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding-left: 70px;
}

.top-menu__item:hover {
    cursor: pointer;
    border-bottom: 3px solid #87c307;
}

.top-menu__item:hover>a {
    color: #87c307;
}

.top-menu__link {
    font-family: montserratsemibold;
    font-size: 18px;
    line-height: 18px;
    color: #fff;
}

.top-menu__link:hover {

    text-decoration: none;

}

.house {
    background: url(../../img/svg/house.svg) left no-repeat;
}


.house:hover {
    background: url(../../img/svg/house-light.svg) left no-repeat;
}

.health {
    background: url(../../img/health.png) left no-repeat;
}

.health:hover {
    background: url(../../img/health-light.png) left no-repeat;
}

.relax {
    background: url(../../img/relax.png) left no-repeat;
}

.relax:hover {
    background: url(../../img/relax-light.png) left no-repeat;
}

.placements {
    background: url(../../img/placements.png) left no-repeat;
}

.placements:hover {
    background: url(../../img/placements-light.png) left no-repeat;
}

.pool {
    background: url(../../img/pool.png) left no-repeat;
}

.pool:hover {
    background: url(../../img/pool-light.png) left no-repeat;
}

.food {
    background: url(../../img/food.png) left no-repeat;
}

.food:hover {
    background: url(../../img/food-light.png) left no-repeat;
}