
.widjet {
    margin-top: 60px;
    max-width: 300px;
}

.widjet__weather {
    max-width: 300px;
    width: 100%;
    height: 135px;
    background-color: #fff;
    box-shadow: 0 0 36px rgb(0,0,0,0.4);
    padding: 45.2px 0 0 37px;
}

.widjet__currency {
    max-width: 300px;
    width: 100%;
    min-height: 175px;
    background-color: #fff;
    box-shadow: 0 0 36px rgb(0,0,0,0.4);
    margin-top: 25px;
}

.weather__temperature,
.weather__logo,
.weather__description {
    display: inline-block;
    float: left;
    height: 50px;
}

.weather__temperature {
    font-family: arial;
    font-size: 24px;
    color: #666666;
    padding-top: 10px;
}

.weather__logo {
    width: 45px;
    background: url(../../img/sun.png) center center no-repeat #fff;
    
}

.weather__description {
    font-family: arial;
    color: #666666;
    font-size: 13px;
    width: 100px;
}

.widjet__currency {
    padding: 15px 20px 10px 10px;
}

.currency__item {
    width: 270px;
    min-height: 30px;
    padding: 5px 0;
    font-family: arial;
    font-size: 12px;
    padding-left: 30px;
    border-bottom: 1px solid #c9c9cb;
}

.currency__item:last-child {
    border-bottom: none;
}

.currency__date,
.currency__source {
    color: #7f7c75;
}

.uah {
    background: url(../../img/uah.png) 5px 5px no-repeat #fff;
}

.usd {
    background: url(../../img/usd.png) 5px 5px no-repeat #fff;
}

.eur {
    background: url(../../img/eur.png) 5px 5px no-repeat #fff;
}

.rub {
    background: url(../../img/rub.png) 5px 8px no-repeat #fff;
}
